{% extends "base.html" %}

{% block content %}
<h1>SIGNUP</h1>
<form action='/signup' method='post'>
    <table>
        <tr>
            {% if user_exist_mess %}
            <p class="error">{{ user_exist_mess }}</p>
            {% endif %}
            <td><label for='username'>Username</label></td>
            <td><input name='username' type='text' value='{{ username }}' />
            {% if one_error %}
            <p class="error">{{ one_error }}</p>
            {% endif %}</td>
        </tr>
        <tr>
            <td><label for='password'>Password</label></td>
            <td><input name='password' type='password' />
            {% if two_error %}
            <p class="error">{{ two_error }}</p>
            {% endif %}</td>
        </tr>
        <tr>
            <td><label for='verify'>Verify Password</label></td>
            <td><input name='verify' type='password'>
            {% if three_error %}
            <p class="error">{{ three_error }}</p>
            {% endif %}</td>
        </tr>
    </table>
    <input type='submit' value='Signup'>
</form>
{% endblock %}